---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/group
    body:
      encoding: UTF-8
      string: '{"userId":1,"anonymousId":null,"context":{"library":{"name":"simple_segment","version":"0.3.0"},"traits":{"foo":"bar"}},"integrations":null,"timestamp":"2019-05-28T10:59:22-03:00","sentAt":"2019-05-28T10:59:22-03:00","traits":{"foo":"bar"},"groupId":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aW52YWxpZF9rZXk6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Tue, 28 May 2019 13:59:23 GMT
recorded_with: VCR 4.0.0
