---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/identify
    body:
      encoding: UTF-8
      string: '{"userId":1,"anonymousId":1,"context":{"library":{"name":"simple_segment","version":"0.3.0"}},"integrations":null,"timestamp":"2019-05-28T10:59:17-03:00","sentAt":"2019-05-28T10:59:17-03:00","traits":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dmFsaWRfa2V5Og==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Tue, 28 May 2019 13:59:18 GMT
recorded_with: VCR 4.0.0
